.page-fragments {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
.page-fragments > div {
  margin: 1rem;
  color: var(--text-highlight);
  display: flex;
  cursor: pointer;
}
.social-links {
  display: flex;
  border: 2px solid green;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}
.social-links > div {
  margin: 0.5rem;
  color: var(--text-primary);
  display: flex;
  cursor: pointer;
}
.hash-node {
  font-size: 1.4rem;
  margin-left: 1px;
}
.social-icons:hover {
  color: #fff;
}
